.App {
    font-family: sans-serif;
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family: "Brush Script MT", cursive;
}

.outline {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tab-list {
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;

}

.Form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    padding: 16px 32px;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 25%;
    color: black;
}
.column-middle{
    float: left;
    width: 10%;
}
.column-don{
    float: left;
    width: 45%;
    color: green;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.column-match{
    float: left;
    width: 50%;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.column-req{
    float: left;
    width: 45%;
    color: red;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    display: block;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


label{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 6em;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;

}



.newline{
    padding: 16px;
    display: block;
}

#requests {
    text-align: center;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#requests td, #requests th {
    border: 1px solid #ddd;
    padding: 8px;
}

#requests tr:nth-child(even){background-color: #f2f2f2;}

#requests tr:hover {background-color: #ddd;}

#requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

#donations {
    text-align: center;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;

}

#donations td, #donations th {
    border: 1px solid #ddd;
    padding: 8px;
}

#donations tr:nth-child(even){background-color: #f2f2f2;}

#donations tr:hover {background-color: #ddd;}

#donations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}


#matches {
    text-align: center;
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

#matches td, #donations th {
    border: 1px solid #ddd;
    padding: 8px;
}

#matches tr:nth-child(even){background-color: #f2f2f2;}

#matches tr:hover {background-color: #ddd;}

#matches th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

#matches table {
    width: 70%;
}

.home {
    text-align: center;
}